@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap");
body {
  font-family: "Lato", sans-serif;
}
#upperbox {
  height: 30px;
  display: flex;
  justify-content: end;
  background-color: #eaeaea;
  margin-top: -8px;
}
#upperbox > div {
  display: flex;
  gap: 35px;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  font-weight: 300;
  font-size: 15px;
}
#navbar {
  /* border: 2px solid black; */
  height: 110px;
  display: grid;
  grid-template-columns: 2fr 4fr 1fr 1fr;
  justify-content: space-between;
  gap: 50px;
  align-items: center;
  text-align: center;
  border-bottom: 2px solid black;
  margin:0px 0px;
}
#input {
  width: 80%;
  padding: 12px 10px;
  border-radius: 3px;
  border: 1px solid black;
  font-size: 14px;
  opacity: 0.5;
  font-weight: 100;
}

#account , #cart {
  display: flex;
  align-items: center;
  font-size: 15px;
  gap: 10px;
}
#account img , #cart img{
  width: 30px;
}
#logo img{
   width: 75%;
}

#item{
    display: flex;
    width: fit-content;
    margin: auto;
}
#item>div{
    padding: 10px 22px;
    font-weight: 300;
    font-size: 16px;
}
#item>div:hover{
    background-color: rgb(43, 42, 42);
    color: white;
  cursor: pointer;
}
#publicity{
    display: flex;
    justify-content: center;
    gap:30px;
    background-color: #f3f0f0;
}
.pub{
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    font-size: 14px;
    padding: 10px 0px;
    box-sizing: border-box;
    cursor: pointer;
}
.pub>div>img{
    width: 30px;
}
/* discount bar  */
#discount{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0px;
    padding: 6px 0px;
    font-weight: bold;
    font-size: 20px;
    background-color: rgb(49, 49, 49);
    color: white;

}
#discount:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}